/* Settings of menu */
.menu {
    float: right;
    font-family: 'Raleway', sans-serif;
    margin-right: 200px;
    margin-bottom: 0px;
    color: #777777;
    margin-top: 20px;
}
.about{
    padding-left: 20px;
    color: #777777;
    font-weight: bold;
    opacity: 0.7;
    font-size: 14px;
}

/* Settings of Header */
h1{
    background-color: #05A8AA;
    width: 160px;
    top: 10px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 0px;
}

/* Section of External Container */

.container {
    font-family: 'Raleway', sans-serif;   
    background: #eee;
    border-top: 2px solid #999;   
    height: 960px;
    right: 0;
    left: 0;
    width: 100%;
    position: fixed;
}
/* Section of Internal container */
.subarea {
    background: #fff;
    width: 960px;
    margin: 0 auto;    
}

/* Division that containt "About me" */
#description {

    border-bottom: 2px solid  #999;
    font-family: 'Raleway', sans-serif;
    color: #05A8AA;
    margin: 10px;
    padding: 15px;
    
}
/* Division that containt image and text */
.main {
    margin: 15px;
    overflow: auto; 
}

#mypicture {
    float: left;
    padding-right: 40px;
    padding-bottom: 30px;
    width: 25%; 
}
.text {
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;

}

footer {
    color: #05A8AA;
    height: 40px;
    border-top: 10px solid #05A8AA;
    background: #666666;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.clear{
    clear: both;
}